<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<!-- CSS -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="apps/style.css" />
</head>

<body>

	<div id="app">
		<div class="container">

			<div class="row">
				<div class="col">
				</div>

				<form class="form-inline">
				<div class="col">
					<label for="search-term">Search for IMDB movies</label>
					<input type="text" id="search-term" v-model="searchTerm" class="form-control">
					</br>
				</div>
				</form>

				<div class="col">
				</div>

			</div>
		</div>



		<div class="overflow-control">
			<ul class="display-inline">
				<ul v-for="movie in movies.Search">
					<p class="centered">{{movie.Title}}</p>
					<img :src=movie["Poster"] v-on:click="displayDetails(movie.imdbID)" />
				</ul>
			</ul>
					</div>
			<transition name="fade">
				<ul v-if="show">
					<li v-for="(value, key) in movieDetails">
						 {{ key }} : {{ value }}
					</li>
				</ul>
			 </transition>


		<ul class="pager">
			<li><a href="#" id="previous-button" v-on:click="currentPage -= 1">Previous</a></li>
			<li><a href="#" id="next-button" v-on:click="currentPage += 1">Next</a></li>
		</ul>
	</div>

	<!-- Scripts -->
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<script type="text/javascript" src="apps/app.js"></script>
</body>

</html>
