<!DOCTYPE html>
<html lang="en">

<head>
	<title>OmdbApi Fetcher By Mehdi Chekori </title>
	<!-- CSS -->
	<link rel="icon" href="styles/movie.ico">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="styles/style.css" />
</head>

<body>

	<div id="app">

		<!-- Search bar -->
		<div class="container top-banner">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group has-feedback">
						<input type="text" id="search-term" v-model="searchTerm" class="form-control" placeholder="Find movie"/>
						<i class="glyphicon glyphicon-search form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			</br>
		</div>

		<!-- Movies Titles and posters -->
		<div class="overflow-control" id="carrousel">
			<ul class="display-inline">
				<span v-if="!movies.Search"></span>
				<ul v-for="movie in movies.Search" v-else>
					<p class="centered MaxHeight" v-on:click="displayDetails(movie.imdbID)">{{movie.Title}}</p>
					<img v-if="movie['Poster']!=='N/A'" :src=movie['Poster'] v-on:click="displayDetails(movie.imdbID)" class="FixedSize"/>
					<img v-else src="styles/no-thumbnail.png" v-on:click="displayDetails(movie.imdbID)"/>
				</ul>
			</ul>
		</div>

		<!-- Movie Details -->
		<transition name="fade">
			<ul v-if="show" class="details">
				<ul v-if="movieDetails['Title']!=='N/A'">Title : {{movieDetails["Title"]}}</ul>
				<ul v-if="movieDetails['Plot']!=='N/A'">Plot : {{movieDetails["Plot"]}}</ul>
				<ul v-if="movieDetails['Genre']!=='N/A'">Genre : {{movieDetails["Genre"]}}</ul>
				<ul v-if="movieDetails['Director']!=='N/A'">Director : {{movieDetails["Director"]}}</ul>
				<ul v-if="movieDetails['Actors']!=='N/A'">Actors : {{movieDetails["Actors"]}}</ul>
				<ul v-if="movieDetails['imdbRating']!=='N/A'">Rating : {{movieDetails["imdbRating"]}}/10 with {{movieDetails["imdbVotes"]}} votes</ul>
			</ul>
		</transition>

		<!-- Page buttons -->
		<ul class="pager" v-if="movies.Search">
			<li><a href="#" id="previous-button" v-on:click="currentPage -= 1">Previous</a></li>
			<li><a href="#" id="next-button" v-on:click="currentPage += 1">Next</a></li>
		</ul>
	</div>

	<!-- Scripts -->
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
</body>

</html>
