.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to
/* .fade-leave-active in <2.1.8 */
{
    opacity: 0
}
.display-inline{
    display: inline-flex;
}
.centered{
    text-align: center;
}
.middleOfScreen{
    position:fixed;
    left:35%;
    right:45%;
}
.overflow-control{
    overflow-x: auto;
}
