.fade-enter-active, .fade-leave-active{
    transition: opacity .8s
}
.fade-enter, .fade-leave-to{
    /* .fade-leave-active in <2.1.8 */
    opacity: 0
}
.display-inline{
    display: inline-flex;
}
.centered{
    text-align: center;
}
.overflow-control{
    overflow-x: auto;
}
.top-banner{
    margin-top: -10px;
}
.FixedSize{
    height: 450px;
    max-height: 450px;
    width: 300px;
    max-width: 300px;
}
.MaxHeight{
    height:40px;
}
body{
    padding-top: -10px;
}
i{
/* this is needed to make the gliphicon cenetered in the input */
    display:block;
    text-align:center
}
h1.padded {
  padding-bottom: 25px;
}
div span{
  color:darkgray;
  margin: 0 0 10px 0;
}
